.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box span{
  font-size: 69px;
  text-align: center;
}

.box:hover{
  background: #ffffff41;
}